* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.admin-container {
  position: relative;
  background-color: rgb(84, 90, 90);
  height: 43vh;
  width: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-left: 400px;
  margin-right: auto;
  top: 150px;
}
.admin-wrap {
  display: flex;
}
.accept{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: brown;
  width: 97%;
  height: 60vh;
  margin-left: 20px;
}
.accept h1{
  color: whitesmoke;
  font-size: 2rem;
  margin-bottom: 40px;
}
.accept a{
  color: whitesmoke;
  text-decoration: none;
}
.accept a:hover{
  cursor: pointer;
  text-decoration: underline;
}
.sing-in input {
  width: 500px;
  height: 40px;
  margin: 30px;
  margin-top: 10px;
  padding-left: 5px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 40px;
}
.id {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.login,
.sign {
  position: relative;
  width: 100px;
  height: 40px;
  margin-left: 100px;
}
.login a,
.sign a {
  text-decoration: none;
  color: blue;
}
.login-wrap {
  position: relative;
  background-color: rgb(84, 90, 90);
  height: 48vh;
  width: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-left: 340px;
  margin-right: auto;
  top: 120px;
}
.log {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.log-in label {
  display: inline-block;
  width: 80px;
  text-align: right;
}
.log-in input {
  width: 400px;
  height: 40px;
  margin: 30px;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 40px;
  margin-left: 20px;
}
.treat,
.diagon {
  position: relative;
  width: 100px;
  height: 40px;
  margin-left: 100px;
}
.treat a,
.diagon a {
  text-decoration: none;
  color: blue;
}
.treat-in label {
  text-align: right;
  width: 200px;
}
.treat-in input {
  padding: 6px;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-left: 5px;
}
.register-wrap {
  position: relative;
  background-color: rgb(84, 90, 90);
  height: 77vh;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  top: 70px;
}
.star {
  height: 100vh;
  width: 100%;
  background-image: url(../src/area.jpg);
  background-size: cover;
  background-position: center;
  margin-left: 20px;
}
.reg-in input {
  width: 400px;
  height: 40px;
  margin: 30px;
  margin-top: 10px;
  padding-left: 5px;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 40px;
}
label {
  width: 200px;
  display: inline-block;
  text-align: right;
}
.regi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
@media screen and (max-width:980px) {
  .login-wrap {
    height: 60vh;
    width: 400px;
    display: flex;
    margin-left: 30px;
  }
  .log-in input {
    width: 380px;
    height: 40px;
    margin-top: 10px;
    margin-left: 35px;
  }
  .log-in label {
    width: 100%;
    text-align: left;
    padding-left: 35px;
  }
  .admin-container {
    height: 53vh;
    width: 400px;
    display: flex;
    margin-left: 70px;
  }
.sing-in input {
    width: 380px;
    height: 40px;
    margin-top: 10px;
    margin-left: 30px;
  }
  .sing-in label {
    width: 100%;
    text-align: left;
    padding-left: 35px;  
}
.register-wrap{
    height: 84vh;
    width: 400px;
    display: flex;  
}
.reg-in input {
    width: 380px;
    height: 40px;
    margin-left: 30px;
    margin-top: -30px;
  }
  .reg-in label {
    width: 100%;
    text-align: left;
    padding-left: 35px;
    margin-bottom: 10px;
  }
.acce{
  margin-top: -10px;
  margin-bottom: 10px;
}
.login,.sign {
  margin-left: 75px;
}
.star{
  margin-left: 0px;
}
}